.radbotsHeader {
  color: gray;
  font-size: 18px;
  text-transform: none;
}

.borderRight {
  border-right: 1px solid #efefef;
}

.getMetricSegmentContainer {
  padding: 20px 0;
  text-align: center;
}

.getPaidBtnContainer {
  margin: 39px auto;
  text-align: center;
}

.radbotsIncomeValue {
  font-size: 40px;
  color: #58d1b0;
}

.radbotsButton {
  font-size: 14px;
  color: white;
  background-color: #58d1b0;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  transition: opacity .5s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    background-color: #48a78a;
    color: white;
  }
}
