:global(.form-control) {
  margin-bottom: 5px;
}

:global(.panel-body) {
  color: gray;
}

.section {
  background-color: #fff;
  //border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header {
  position: relative;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 20px;

  h4 {
    padding: 15px;
    padding-left: 20px;
    margin: 0;
    color: gray;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.radbotsPanel {
  color: gray;
}

.radbotsIncomeHeader {
  color: gray;
  font-size: 18px;
  text-transform: none;
}

.borderRight {
  border-right: 1px solid #efefef;
}

.getMetricSegmentContainer {
  padding: 20px 0;
  text-align: center;
}
.getPaidBtnContainer {
  margin: 39px auto;
  text-align: center;
}

.radbotsIncomeValue {
  font-size: 40px;
  color: #58d1b0;
}

.radbotsButton {
  font-size: 14px;
  color: white;
  background-color: #58d1b0;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  transition: opacity .5s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    background-color: #48a78a;
    color: white;
  }
}
