.radbotsHeader {
  color: gray;
  font-size: 18px;
  text-transform: none;
}
.radbotsLogo {
  padding: 15px 0;
}

.borderRight {
  border-right: 1px solid #efefef;
}

.getMetricSegmentContainer {
  padding: 20px 0;
  text-align: center;
}

.getPaidBtnContainer {
  margin: 39px auto;
  text-align: center;
}

.radbotsIncomeValue {
  font-size: 40px;
  color: #58d1b0;
}

.radbotsButton {
  color: white;
  background-color: #58d1b0;
  outline: none;

  transition: opacity .5s ease-in-out, background-color .15s ease-in-out;

  &:hover, &:focus, &:hover, &:active {
    background-color: #48a78a;
    color: white;
    outline: none;
  }
}
